* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #353b48;
}

.card {
  background: #0097e6;
  color: white;
  margin: 50px auto auto auto;
  padding: 40px;
  border-radius: 5px;
  height: 240px;
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__input {
  width: 100%;
  border-radius: 5px;
  height: 30px;
}

.card__fact {
  display: none;
  height: 50px;
}

.card__title--small {
  font-size: 20px;
}

.card__text {
  font-size: 12px;
}
